/* selector {
    property: value;
} */

/* body {
    background-color: red;
    color: white;
} */

/* weight or specificity */

/* element | class | id */

/* id is unique */

body {
    background-color: rgb(230, 230, 230);
    color: #4C3A51;
}

h1, h2 {
font-family: 'Lora', serif;
}

p {
font-family: 'Roboto', sans-serif;
}

#profile-picture {
    width: 400px;
    border-radius: 50%;
}

.list-incline {
    list-style: none;
    padding-left: 0px;
}

.container {
    width: 500px;
    border: 2px red solid;
    margin: 40px auto;
    text-align: center;
}

/* element design */

.card-white {
    background-color: white;
    padding: 40px;
    margin: 20px 0;
    border-radius: 4px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}

.btn-blue {
    background-color: blueviolet;
    padding: 8px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
}

.btn-blue hover {
    background-color: black;
}


.list-incline hover {
    background-color: black;
}

.list-incline i {
    font-size: 40px;
}

.list-incline li {
    display: inline;
    margin: 10px;
}


